@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:ital,wght@0,700;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}

header {
    background-color: #801E23;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav.menu-lateral{
    width: 40px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #801E23;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.bnt-expandir{
    width: 100%;
    padding-left: 0px;
}

.bnt-expandir > i{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}


ul li.item-menu a icon > i{
    font-size: 30px;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background: #801E23;
}
