@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:ital,wght@0,700;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #96969e;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}

.box{
    width: 320px;
    height: 500px;
    background: rgba(0, 0, 0, 0.778);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.box input{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.box input[type="text"], input[type="password"], input[type="checkbox"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.input-manterlogado input[type="checkbox"],
.input-manterlogado label {
    display: inline-block;
    vertical-align: middle;
}

.continue-button input
{
    width: 90%;
    border: none;
    background-color: rgba(0, 0, 0, 0.778);
    color: #fff;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}



