html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.sidebar {
    -webkit-box-shadow: 5px 2px 17px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 5px 2px 17px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 5px 2px 17px 0px rgba(0, 0, 0, 0.16);
    width: 250px;
    transition: transform 0.3s ease;
}

.active {
    background-color: #801E23 !important;
}

.accordion-body ul li {
    list-style-type: none;
}

.nav-link:hover {
    background-color: #80373b51;

}

main {
    max-height: 99vh;
    overflow: auto;
}

th { 
    vertical-align: middle;
}

._btn-red {
    background-color: #801E23;
}


.openbtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
}


#btn_bar{
    width: 40px;
    margin-left: auto;
  }

/* Exibir sidebar normalmente em telas maiores */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-300px);
    }

    .openbtn {
        display: block;
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1001;
        background-color: #ffffff00;
        color: rgb(0, 0, 0);
        border: none;
        padding: 10px 15px;
        
    }

    .sidebar.show {
        transform: translateX(0);
        width: 220px;
    }

  .sidebar.show ~ .openbtn {
    display: none;
}
}

/* Estilos para dispositivos de tela grande (desktop) */
@media only screen and (min-width: 1024px) {

    /* Inserir estilos para tela grande aqui */
    body {
        font-size: 16px;
    }
}

/* Estilos para tablets e dispositivos com largura média */
@media only screen and (max-width: 1023px) and (min-width: 768px) {

    body {
        font-size: 14px;
    }
}

/* Estilos para smartphones e dispositivos com largura pequena */
@media only screen and (max-width: 767px) {

    body {
        font-size: 12px;
    }
}